<%- include('../partials/header') %>
    <main>
        <h1>Hello World</h1>
        <table>
            <thead>
                <tr>
                    <td>Account</td>
                    <td>Password</td>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=>{ %>
                    <tr>
                        <td>
                            <%=user.account %>
                        </td>
                        <td>
                            <%=user.password %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </main>
    <%- include('../partials/footer') %>