PORT=3001
NODE_ENV=development

# Cluster MongoDB URI (ưu tiên dùng cho production)
MONGODB_URI=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/webbtl?replicaSet=rs0

# Các biến dưới đây dùng cho local/test hoặc fallback
DB_HOST=localhost
DB_PORT=27017
DB_USER=root
DB_PASS=123456
DB_NAME=webbtl