<%- include('../partials/header', { title: title }) %>

<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="/img/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Về Chúng Tôi</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about_us padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="about_us_content">
                    <h5>Sứ mệnh của chúng tôi</h5>
                    <h3>Chúng tôi cam kết mang đến cho khách hàng những sản phẩm chất lượng và dịch vụ tận tâm nhất.</h3>
                    <div class="about_us_video">
                        <img src="/img/about_us_video.png" alt="#" class="img-fluid">
                        <a class="about_video_icon popup-youtube" href="https://www.youtube.com/watch?v=DWHB6nTyKDI"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature_part section_padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="feature_part_tittle">
                    <h3>Chúng tôi luôn đổi mới và phát triển</h3>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="feature_part_content">
                    <p>Chúng tôi không ngừng nghiên cứu và phát triển để mang lại trải nghiệm tốt nhất cho khách hàng.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="/img/icon/feature_icon_1.svg" alt="#">
                    <h4>Hỗ trợ thẻ tín dụng</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="/img/icon/feature_icon_2.svg" alt="#">
                    <h4>Đặt hàng online</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="/img/icon/feature_icon_3.svg" alt="#">
                    <h4>Giao hàng miễn phí</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="/img/icon/feature_icon_4.svg" alt="#">
                    <h4>Sản phẩm tặng kèm</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="client_review">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="client_review_slider owl-carousel">
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="/img/client.png" alt="#">
                        </div>
                        <p>"Chúng tôi luôn lắng nghe và phục vụ khách hàng tận tâm."</p>
                        <h5>- Khách hàng thân thiết</h5>
                    </div>
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="/img/client_1.png" alt="#">
                        </div>
                        <p>"Sản phẩm chất lượng, dịch vụ tuyệt vời!"</p>
                        <h5>- Khách hàng thân thiết</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>
