<%- include('../partials/header') %>
    <main>
        <h1>Login hello</h1>
        <form class="box" action="/login" method="post">
            <input type="text" name="account">
            <input type="password" name="password">
            <button type="submit">SUBMIT</button>
        </form>

    </main>
    <%- include('../partials/footer') %>