<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <h1>Sign up hello</h1>
    <!-- <form class="box" method="post" action="/signup" onsubmit="return checkPasswordMatch();"> -->
    <form class="box" method="post" action="/signup">
        <input type="text" name="account" id="" required>
        <input id="password" type="password" name="password" required>
        <input id="passwordConfirm" type="password" name="passwordConfirm" required>
        <button type="submit">Sign up</button>
    </form>
    <% if(err){ %>
        <script src="./js/err/<%=err%>.js"></script>
        <% } %>
            <!-- <script>
        function checkPasswordMatch() {
            const pw = document.getElementById("password").value;
            const pwConfirm = document.getElementById("password-confirm").value;
            if (pw !== pwConfirm) {
                alert("Mật khẩu không khớp!");
                return false; // chặn gửi form
            }
            return true;
        }
    </script> -->

</body>

</html>